$light: (
  //字体
  font_color1: #414141,
  font_color2: white,
  //背景
  background_color1: #fff,
  background_color2: #f0f2f5,
  background_color3: red,
  background_color4: #2674e7,
  //边框
  border_color1: #3d414a,
)
